<!DOCTYPE html>
<html>
  <head>
    <title>Vault</title>
    <%= csrf_meta_tags %>

    <%= javascript_pack_tag 'application' %>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/semantic-ui@2.4.0/dist/semantic.min.css"></link>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
